<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Renato Cruz Jr. - Portfólio</title>
</head>
<body>
    <header>
        <div class="logo">R.J.</div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/portfolio">Portfólio</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        &copy; 2023 Renato Cruz Jr.
    </footer>
</body>
</html>
