{% extends 'base.html' %}

{% block content %}
<section id="secao_imagem">
    <div class="centralizar">
        <img class="filtro-imagem" src="{{ url_for('static', filename='mgt/perfil.png') }}" alt="Foto de Perfil" srcset="{{ url_for('static', filename='mgt/perfil_menor.png') }} 190w, {{ url_for('static', filename='mgt/perfil.png') }} 352w" sizes="(max-width: 620px) 50vw, 25vw">
    </div>
</section>

<section>
    <div class="conteudo">
        <h1>Informações de Contato</h1>
        <p>Email: <a class="contato" href="mailto:renatofernandesdacruzjunior@gmail.com">renatofernandesdacruzjunior@gmail.com</a></p>
        <p>Telefone: <a class="contato" href="tel:+5512991023021">+55 (12) 99102-3021</a></p>
        <p>GitHub: <a class="contato" href="https://github.com/Renato-Cruz-Jr/" target="_blank">Clique aqui</a></p>
        <p>LinkedIn: <a class="contato" href="https://www.linkedin.com/in/renato-fernandes-da-cruz-junior-798582204/" target="_blank">Clique aqui</a></p>
    </div>
</section>
{% endblock %}