{% extends 'base.html' %}

{% block content %}
<section>
    <img class="circular" src="{{ url_for('static', filename='mgt/perfil.png') }}" alt="Foto de Perfil">
</section>

<section>
    <h1>Informações de Contato</h1>
    <p>Email: <a class="contato" href="mailto:renatofernandesdacruzjunior@gmail.com">renatofernandesdacruzjunior@gmail.com</a></p>
    <p>Telefone: <a class="contato" href="tel:+5512991023021">+55 (12) 99102-3021</a></p>
    <p>GitHub: <a class="contato" href="https://github.com/Renato-Cruz-Jr/" target="_blank">Clique aqui</a></p>
    <p>LinkedIn: <a class="contato" href="https://www.linkedin.com/in/renato-fernandes-da-cruz-junior-798582204/" target="_blank">Clique aqui</a></p>
</section>
{% endblock %}