{% extends 'base.html' %}

{% block content %}

<section>
    <!-- Currículo -->
    <h1>Currículo</h1>
    <ul>
        <li><strong>Nome:</strong> Renato Fernandes da Cruz Júnior</li>
        <li><strong>Data de nascimento:</strong> 27/03/2004</li>
        <li><strong>Naturalidade:</strong> São José dos Campos - SP</li>
        <li><strong>Formação Acadêmica:</strong> Ensino Médio integrado ao curso técnico de Informática - Instituto Federal de Educação, Ciência e Tecnologia de São Paulo (IFSP), Jacareí, SP</li>
        <li><strong>Experiência Profissional:</strong> Professor auxiliar - Kumon (2017 - Presente)</li>
        <li><strong>Cursos Complementares:</strong> Cursos de Inglês e de Matemática do método Kumon. (2016 - 2022)</li>
    </ul>
</section>

<section>
    <!-- Trabalhos acadêmicos -->
    <h1>Trabalhos Acadêmicos</h1>

    <h2>Projeto API: Nefrologia (2023)</h2>

    <ul>
        <li><strong>Sobre o Projeto:</strong> Em desenvolvimento por alunos da FATEC Prof. Jessen Vidal - SJC, SP. Tem a finalidade de conscientizar, ampliar e facilitar a comunicação de pacientes e famílias que possuem Doença Renal Crônica (DRC).</li>
        <li><strong>Metodologia:</strong> Entre as ferramentas utilizadas no Scrum, uma é a divisão do projeto em Sprints. Para selecionar quais seriam as entregas das nossas Sprints, primeiro definimos nosso MVP, priorizando as tarefas que trariam maior entrega de valor para o cliente. Então, a partir das Tarefas foi construído o Backlog do Produto, o qual foi aprovado pelo cliente e dividido em 4 Backlogs de Sprint.</li>
        <li><strong>Visão do Produto:</strong> Para pessoas que procuram se manter informadas sobre nefro pediatria. O projeto CIANP (Centro de Informações e Ajuda Nefro-Pediátrica) tem como objetivo trazer informações e dados relevantes à quem procura sobre esse assunto tão pouco comentado. As informações estão muito dispersas na internet, o CIANP traz facilidade nessa busca e apoio para encontrar o local mais adequado para o tratamento necessário para saúde da criança. Compartilhamento de suas histórias está incluso a todos aqueles que buscam um conforto a mais nesse momento delicado.</li>
        <li><strong>Tecnologias utilizadas:</strong> Figma, GitHub, HTML, CSS, Discord, Microsoft Teams, Microsoft Excel, Python e Slack.</li>
        <li><strong>LINK:</strong> <a class="contato" href="https://github.com/Code-Nine-FTC/Grupo-Code-Nine">Clique aqui para saber mais sobre o nosso projeto.</a></li>
    </ul>
</section>

<section>
    <h1>Projetos pessoais</h1>
</section>

<section>
    <h1>Projetos profissionais</h1>
</section>
{% endblock %}