/* Redefine alguns estilos padrão. */
body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
}

/* Define uma cor de fundo e uma cor de texto. */
body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilo do cabeçalho. */
header {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Remove o estilo da lista da navegação do cabeçalho. */
header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente. */
}

/* Estiliza os itens da lista (itens de menu). */
header li {
    margin-right: 20px;
}

/* Estiliza os links dentro dos itens da lista. */
header a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

header a:hover {
    color: #0077cc;
}

/* Estiliza o conteúdo "main". */
main {
    flex-grow: 1;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estiliza as seções. */
section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #c0c0c0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estiliza os títulos. */
h1, h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Estiliza as listas não-ordenadas */
ul {
    list-style: disc;
    margin-left: 20px;
}

/* Estiliza os itens de listas em geral. */
li {
    margin-bottom: 10px;
}

/* Configura as imagens para que sejam responsivas e circulares. */
img.circular {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%; /* Faz a imagem ser circular */
}

/* Estiliza o rodapé */
footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #444;
}

/* Estiliza os links */
a.contato {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

a.contato:hover {
    color: #0077cc;
}

/* Estiliza os botões para os links. */
.btn-link {
    background-color: #c0c0c0;
    border: none;
    border-radius: 4px;
    font-size: inherit;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
    display: inline-block;
}

/* Esse estilo é aplicado quando o usuário passa o ponteiro do mouse sobre o link do botão.  */
.btn-link:hover {
    background-color: #ffffff;
    color: #c0c0c0;
}

/* Esse estilo é aplicado quando o link do botão recebe o foco do teclado,
normalmente quando um usuário pressiona a tecla "Tab" para navegar pelos elementos
interativos em uma página da Web. */
.btn-link:focus {
    outline: none;
}

/* Estilo de logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    float: left;
}